@model IEnumerable<CRM.Models.DbModels.Appuntamenti>

@{
    ViewBag.Title = "Index";
}

<div class="content-box">

    <div class="d-flex align-items-center">
        <h2>Appuntamenti</h2>
        <div class="mx-3">
            <a href="@Url.Action("CreateAppuntamento")">
                <i class="fa-solid fa-plus btn btn-crm"></i>
            </a>
        </div>
    </div>


    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    Cliente
                </th>
                <th>
                    Tipologia
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    Orario
                </th>
                <th>
                    Creatore
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clienti.Nome)
                    </td>
                    <td style="background-color: @item.AppuntamentiTipologia.Colore2">
                        @Html.DisplayFor(modelItem => item.AppuntamentiTipologia.Tipologia)
                    </td>
                    <td>
                        @item.Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.OraInizio.ToString("hh\\:mm") - @item.OraFine.ToString("hh\\:mm")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Utenti.Nome)
                    </td>

                    <td>
                        <a href="@Url.Action( "Edit", new { id = item.Id })" class="text-dark"> <i class="fa-solid fa-pencil"></i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

@section scripts
{
    <script src="~/Scripts/MyScripts/LoadDataTable.js"></script>
    <script>
        LoadDataTable([5 ])
    </script>
}