@model CRM.Models.DbModels.Utenti

@{
    ViewBag.Title = "Details";
}

<div class="content-box">

    <div class="d-flex align-items-center">
        <h2 class="d-inline-block">@Model.Username</h2>
        <a href="@Url.Action( "Edit", new { id = Model.Id })" class="text-dark"> <i class="fa-solid fa-pencil m-2"></i></a>
    </div>



    <hr class="mt-4" />

    <div class="row row-cols-1 row-cols-md-2 align-items-center">

        <div class="text-center">
            <img src="~/Content/Imgs/Propic/@Model.Propic" class="w-100 object-fit-contain" height="350" />
        </div>
        <div>

            <div class="row row-cols-1">

                <div>
                    <span class="fw-bold d-block">
                        @Html.DisplayNameFor(model => model.Nome)
                    </span>
                    @Html.DisplayFor(model => model.Nome)
                </div>

                <div>
                    <span class="fw-bold d-block">
                        @Html.DisplayNameFor(model => model.Email)
                    </span>
                    @Html.DisplayFor(model => model.Email)
                </div>

                <div>
                    <span class="fw-bold d-block">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </span>
                    @Html.DisplayFor(model => model.Telefono)
                </div>

                <div>
                    <span class="fw-bold d-block">
                        @Html.DisplayNameFor(model => model.LastOnline)
                    </span>
                    @Html.DisplayFor(model => model.LastOnline)
                </div>

                <div>
                    <span class="fw-bold d-block">
                        @Html.DisplayNameFor(model => model.FkAzienda)
                    </span>
                    @Html.DisplayFor(model => model.Aziende.Nome)
                </div>
            </div>

        </div>

    </div>

</div>


<div class="content-box mb-3 mt-4 ">
    <h2>Appuntamenti registrati da @Model.Nome:</h2>
</div>

@{ Html.RenderAction("AppuntamentiPartial", "Appuntamenti", new { idCliente = 0, idUtente = Model.Id }); }