<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-4 border">
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="mr-2">
                <img src="~/Content/Imgs/Logo/LogoIcon.png"  height="30"/>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Calendario", "Calendar", "Appuntamenti", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Appuntamenti", "Index", "Appuntamenti", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Aziende", "Index", "Aziende", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Clienti", "Index", "Clienti", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Utenti", "Index", "Utenti", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>

                @if (User.Identity.IsAuthenticated)
                {
                    <span class="navbar-text rounded-pill py-auto py-md-0 border bg-crm text-white" >
                        <span class="mx-3">@User.Identity.Name </span>
                        <img src="~/Content/Imgs/Propic/@Session["Img"].ToString()" height="40" width="40" class="rounded-circle object-fit-cover" />
                    </span>
                }

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
            <p> Illustrazioni a cura di <a href="https://storyset.com/work">Storyset</a></p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
