@model CRM.Models.DbModels.Utenti

@{
    ViewBag.Title = "Login";
}
<div id="login-content" class="d-flex align-items-center">

    <div class="content-box w-75 mx-auto my-auto py-4">
        <div class="d-flex justify-content-center">
            <img src="~/Content/Imgs/Logo/Logo.png" height="50" />
        </div> 
        <h5 class="text-center mt-3">Accedi</h5>
        <hr />


        <div class="row row-cols-1 row-cols-md-2 justify-content-center align-items-center my-auto py-4">

            <div>
                <div class="d-flex justify-content-center align-items-center m-auto">
                    <img src="~/Content/Imgs/Svgs/Login.svg" class="w-100"/>
                </div>
            </div>

            <div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Accedi" class="btn btn-crm mt-2" />
                            </div>
                        </div>

                        @if (ViewBag.Error != null)
                        {
                            <p class="text-danger"> @ViewBag.Error </p>
                        }

                    </div>
                }

            </div>

        </div>


    </div>

</div>
